:root {
    --dark-red: #2C0001;
    --medium-red: #8B211D;
    --ocre-yellow: #FDB263;
    --cream-white: #EADFD3;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5rem;
    height: 6rem;
    margin-bottom: 1rem;
}

nav {
    margin-inline: auto;
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.icone a {
    display: flex;
}


.icone img {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    margin-inline: 1rem;
}

header a {
  
    color: var(--ocre-yellow);
    text-decoration: none;
    font-size: 1rem;
    
}

.menu {
    padding-inline: 2rem;
    display: flex;
    gap: 2rem;
}

header ul {
    display: flex;
    gap: 2rem;
}

header ul,
header li {
    list-style: none;
}

header a.active {
    color: var(--cream-white);
}
